/*  your css code here. If applicable */
.container{
	width:500px;
	
	background-color:nero;
	display:flex;
	flex-flow:wrap;
	justify-content:space-evenly;
	
}
.container .square{
	width:10px;
	height:10px;
	background-color:nero;
	margin:4px;
	
}
.container .square:hover{
	background-color:red;
}